/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin mswmedtheme {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */
  
  
  .link-author {font-size:11px; color:#e4e4e4;}
  .v-panel-content-loginFormPanel {border:none !important; background:none !important;}
  .v-panel-nocaption-loginFormPanel, .v-panel-deco-loginFormPanel {border:none !important; height:0px;}
  
  .user {padding:130px 0 0 45px; color:#fff;}
  .pass {padding:10px 0 0 45px; color:#fff;}
  .logButton {padding:20px 0 0 390px;}
  .footer {color:#555; font-size:10px; float:right; margin:5px 30px 0 0;}
  .version {text-align:center;}
  .versionLabel {text-align:center; color:#555; font-size:10px; width:100%;}
  
  
  #loginForm {display:block; width:495px; height:325px; background:url("layouts/images/background-login-form.png") no-repeat;}
  
}
