<!--This CustomLayout uses inline styles.-->
<table align="center" cellspacing="10"
	style="width: 480px; height: 100%; color: #fff; padding: 20px;
	background: #31629E repeat-x">
	<tr>
		<td colspan="2">
		<img src="./images/mswmed-logo.png" alt="mswmed-logo" style="float:left;"/>
		<h1 style="margin:30px; float:left; font-size:14px;">MSWMed Logowanie</h1>
		<td>
	</tr>
	<tr>
		<td align="right">Użytkownik:</td>
		<td>
		<div location="username" style="width:250px;"></div>
		</td>
	</tr>
	<tr>
		<td align="right">Hasło:</td>
		<td>
		<div location="password" style="width:250px;"></div>
		</td>
	</tr>
	<tr>
		<td align="right" colspan="2">
		<div location="okbutton" style="padding: 10px; margin-right:48px;"></div>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="padding: 7px; background-color: #4172AE; text-align:right; font-size:11px;">
		Created & Developed by YELLOWCAT
		<td>
	</tr>
</table>